@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using BlazorWebAssembly.UmbracoBlocks
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using System.Text.Json

@{
    var content = (ContentModels.UmbracoAlert)Model.Content;

    var umbracoAlertModel = new UmbracoAlertModel
        {
            Title = content.Title,
            Date = content.Date
        };

    var settings = (ContentModels.Settings)Model.Settings;
}

@if (settings.BlazorType == "BlazorServerPrerendered") 
{
    @(await Html.RenderComponentAsync<UmbracoAlertBlock>(RenderMode.ServerPrerendered, new { Model = umbracoAlertModel }))
}
else if(settings.BlazorType == "BlazorWebAssemblyPrerendered")
{
    @(await Html.RenderComponentAsync<UmbracoAlertBlock>(RenderMode.WebAssemblyPrerendered, new { Model = umbracoAlertModel }))
} 
else 
{
    <p>Select BlazorType to render component</p>
}