@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using BlazorWebAssembly.UmbracoBlocks
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using System.Text.Json

@{
    var content = (ContentModels.UmbracoTitleAndButtons)Model.Content;

    var umbracoTitleAndButtonsModel = new UmbracoTitleAndButtonsModel
            {
                Title = content.Title,
                Paragraph = content.Paragraph.ToHtmlString(),
                LogButtonText = content.LogButtonText,
                LogText = content.LogText.ToHtmlString(),
                LinkButton = new LinkButton
                { 
                    ButtonText = content.SecondButtonText,
                    Link = content.SecondButtonLink.FirstOrDefault()?.Url,
                },
                UseWaitIndication = content.UseWaitIndicator
            };
    var settings = (ContentModels.Settings)Model.Settings;
}

@if (settings.BlazorType == "BlazorServerPrerendered")
{
    @(await Html.RenderComponentAsync<UmbracoTitleAndButtonsBlock>(RenderMode.ServerPrerendered, new { Model = umbracoTitleAndButtonsModel }))
}
else if (settings.BlazorType == "BlazorWebAssemblyPrerendered")
{
    @(await Html.RenderComponentAsync<UmbracoTitleAndButtonsBlock>(RenderMode.WebAssemblyPrerendered, new { Model = umbracoTitleAndButtonsModel }))
}
else
{
    <p>Select BlazorType to render component</p>
}