@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using BlazorWebAssembly.UmbracoBlocks
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using System.Text.Json

@{
    var content = (ContentModels.UmbracoPanel)Model.Content;

    var umbracoPanelModel = new UmbracoPanelModel
        {
            PanelPillText = content.PanelPillText,
            Title = content.Title,
            Paragraph = content.Paragraph
        };

    var settings = (ContentModels.Settings)Model.Settings;
}

@if (settings.BlazorType == "BlazorServerPrerendered")
{
    @(await Html.RenderComponentAsync<UmbracoPanelBlock>(RenderMode.ServerPrerendered, new { Model = umbracoPanelModel }))
}
else if (settings.BlazorType == "BlazorWebAssemblyPrerendered")
{
    @(await Html.RenderComponentAsync<UmbracoPanelBlock>(RenderMode.WebAssemblyPrerendered, new { Model = umbracoPanelModel }))
}
else
{
    <p>Select BlazorType to render component</p>
}